body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: animatemysite 2s ease-in-out 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Top-nav{
  position: absolute;
  z-index: 10;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  width: 95vw;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.nav-logo img{
  width: 200px;
  height: 50px;
}

.nav-links{
  padding: 10px;
  padding-top: 10px;
  width: 60vw;
  display: flex;
  justify-content: space-around;
  color: #004589;
  
}

.nav-link{
  text-decoration: none;
  color:#004589;
  font-weight: 700;
}
.nav-link :hover{
  color:#F78F8F;
}

.nav-login{
  border-style: none;
  padding: 5px;
  margin-bottom: -5px;
  margin-top: -5px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
  background-color: #004589;
  color: aliceblue;
  text-decoration: none;
  font-weight: 300;
}

.nav-login :hover{
  background-color: aliceblue;
  color: #004589;
}

.main-body{
  padding: 0px;
}

.signin-background-image{
  width: 100vw;
  height: 100vh;
}

.signin-background{
  position: absolute;
  
}

.signin-form{
  position: absolute;
  width: 30vw;
  height: 100vh;
  z-index: 10;
  margin-top: 0px;
  margin-left: 0px;
  background-color: white;
  padding: 20px;
}

.signin-form-input{
  position: relative;
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  font-size: large;
  border-width: .5px;
  border-color: #004589;

}

.signin-form-input :focus{
  border-color: #004589;

}

.signin-form-submit{
  position: relative;
  cursor: pointer;
  background-color: #004589;
  width: 85%;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  font-size: large;
  color: azure;
  margin: 10px;
}

.signin-form-submit :hover{
  background-color: aliceblue;
  color: #004589;
}

.signin-form-social-login{
  position: relative;
  width: 80%;
  height: 30px;
  border-style: solid;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.signin-form-social-login img{
  position: relative;
  width: 30px;
  height: 30px;
}

.signin-form-social-login-text{
  margin-top: 5px;
  margin-left: 5px;
}
.signin-form-login-page-link{
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
}
.signin-form-login-page-link-Link{
  color: #004589;
  text-emphasis: none;
  text-decoration: none;
}

.signin-form-emphasis{
  text-emphasis: none;
  text-decoration: none;
  color: #004589;

}

.signin-form-emphasis-container{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: right;
  font-weight: bold;
  width: 86%;
}

.signin-form-title{
  color: #3C475C;
}

.sign-in-error{
  color: #F78F8F;
  font-size: small;
  font-style: italic;
  font-weight: bold;
  padding-left: 20px;
}

.sign-in-error-icon{
  width: 10px;
  height: 10px;
}

.sign-in-view-pass{
  width: 20px;
  height: 20px;
}

.loader{
  position: absolute;
  width: 30vw;
  height: 100vh;
  z-index: 20;
  margin-top: 0px;
  margin-left: 0px;
  padding: 20px;
  background-color: rgba(0, 69, 137,.3);
}

.loader-img{
  position: relative;
  margin-top: 40%;
  margin-left: 40%;
}




.home-section-one{
  position: relative;
  height: 70vh;
}

.home-section-one img{
  position: relative;
  height: 70vh;
  width: 100vw;
}

.home-section-one-search-box{
  /*display: inline-block;*/
  background-color: aliceblue;
  position: absolute;
  z-index: 12;
  width: 60vw;
  height: 25vh;
  margin-left: 20vw;
  margin-top: -40vh;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
}


.home-section-one-search-box-links{
  display: flex;
  justify-content: space-between;
  width: 450px;
  height: 50px;
}

.home-section-one-search-box-link{
  cursor: pointer;
  width: 100px;
  text-align: center;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.home-section-one-search-box-link :hover{
  background-color: #004589;
  color: aliceblue;
}


.home-section-one-search-box-container{
  border-style: solid;
  border-color: darkgray;
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: white;
  border-width: .5px;
}

.home-section-one-search-box-container-textbox{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 500px;
  background-color: white;
}

.home-section-one-search-box-container-textbox input{
  width: 400px;
  border-style: none;
  outline: none;
}

.home-section-one-search-box-container-textbox-filter{
  border-width: .5px;
  cursor: pointer;
  display: flex;
  border-style: solid;
  padding: 5px;
  border-radius: 3px;
  margin-top: -2px;
  height: 20px;
  width: 70px;
}

.home-section-one-search-box-container-textbox-filter img{
  width: 20px;
  height: 20px;
}

.home-section-one-search-box-container-button{
  cursor: pointer;
  background-color: #004589;
  width: 200px;
  padding: 10px;
  display: flex;
  font-size:x-large;
  color: aliceblue;
  padding-left: 20px;
  border-style: none;
  justify-content: center;

}

.home-section-one-search-box-container-button img{
  width: 30px;
  height: 30px;
}
.home-section-one-search-box-recent-title{
  display: flex;
  justify-content: center;
  color: #bbbbbb;
  padding: 10px;
  width: 200px;
}

.home-section-one-search-box-recent-title img{
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

/*section 2 starts here..*/

.home-section-two-forsale{
  height: 100vh;
  padding-top: 100px;
  justify-content: center;
}

.home-section-two-forsale-titles{
  text-align: center;
}

.home-section-two-forsale-titles #title1{
  color: #004589;
  font-size: small;
  font-weight: 700;
  margin-bottom: 20px;
}

.home-section-two-forsale-titles #title2{
  font-size: xx-large;
  color: grey;
  font-weight: 700;
  margin-bottom: 20px;
}
.home-section-two-forsale-links{
  border-bottom-style: solid;
  border-color: #bbbbbb;
  border-width: 1px;
  width: 96vw;
  margin-left: 2vw;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.home-section-two-forsale-links #link{
  margin-right: 10px;
  cursor: pointer;
  margin-bottom: 5px;
}

.home-section-two-forsale-links #link :hover{
  border-bottom-style: solid;
  border-bottom: #bbbbbb;
  color: #004589;
}

.home-section-two-forsale-carousel{
  margin-top: 50px;
  display: flex;
  padding: 20px;
}

.home-section-two-forsale-carouse-card{
  border-radius: 5px;
  width: 22vw;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.home-section-two-forsale-carouse-card img{
  width: 22vw;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.home-section-two-forsale-carouse-card-info{
  padding: 10px;
}

.home-section-two-forsale-carouse-card-info-sub{
  font-size: larger;
  font-weight: bold;
  padding-bottom: 5px;
}

.home-section-two-forsale-carouse-card-info-add{
  font-size: small;
  color: #004589;
  padding-top: 10px;
  padding-bottom: 10px;

}

.home-section-two-forsale-carouse-card-info-prop-cont{
  display: flex; 
  justify-content: space-between;
  width: 50%;
  padding: 5px;
}

.home-section-two-forsale-carouse-card-info-prop{
  display: flex;
}

.home-section-two-forsale-carouse-card-info-prop span{
  margin-left: 5px;
}

.home-section-two-forsale-carouse-card-info-prop img{
  width: 15px;
  height: 15px;
  margin-right: 2px;
}

.home-section-two-forsale-carouse-card-info-prop-des{
  padding: 10px;
  font-size: small;
  color: #004589;
  border-top-style: dotted;
  border-width: 1px;
  border-color: gray;
}

.home-section-two-forsale-footer{
  margin-top: 50px;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.home-section-two-forsale-footer-btn{
  border-style: solid;
  border-width: 1px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

.home-section-two-forsale-footer-btn :hover{
  color: aliceblue;
  background-color: #004589;
}

.home-section-three-aboutus{
  height: 80vh;
  padding: 40px;
  background-color: aliceblue;
}

.home-section-three-aboutus img{
  height: 300px;
  float: left;
}

.home-section-four-footer{
  background-color: #004589;
  color: aliceblue;
  height: 50vh;
  padding: 40px;
  display: flex;
}

.home-section-four-footer-contactus{
  width: 30%;
  padding: 40px;
}

.home-section-four-footer-meet-the-team{
  width: 70%;
}

.home-section-four-footer-contactus-socials-links{
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.home-section-four-footer-contactus-socials-links img{
  width: 30px;
  height: 30px;
  
}

.home-section-four-footer-contactus-socials-admin-login{
  text-decoration: none;
  text-emphasis: none;
  color: aliceblue;
}

.home-section-four-footer-meet-the-team{
  padding: 40px;
}

.home-section-four-footer-meet-the-team-members{
  display: flex;
  justify-content: space-evenly;
}

.home-section-four-footer-meet-the-team-member img{
  width: 100px;
  height: 130px;
}

.home-section-four-footer-meet-the-team-member{
  text-align: center;
}


.home-section-four-footer-meet-the-team-footer{
  margin-top: 10px;
  text-align: center;
}

/* Agents dashboard css..*/

/*Top Nav...*/

.agents-Top-nav{
  position: fixed;
  top:0;
  width: 100vw;
  display: flex;
  background-color: #004589;
  color: aliceblue;
  justify-content: space-between;


}
.agents-Top-nav img{
  width: 150px;
  padding-top: -10px;
  padding-bottom: 5px;
}

.agents-Top-nav-links{
  display: flex;
  padding-right: 50px;
  justify-content: space-evenly;
  width: 60vw;
  padding-top: 20px;
}
.agents-Top-nav-link{
  text-decoration: none;
  color: aliceblue;
}

.agents-Top-nav-link.active{
  color: #F78F8F;
  font-weight: bolder;
}

.agent-dashboard{
  margin-top: 0;
}
.agent-dashboard-body{
  padding: 40px;
}

/*End of Top Nav*/

/*beginning of page nav*/

.agent-dashboard-page-nav{
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin-top: 20px;
  padding: 10px;
  z-index: 10;
}

.agent-dashboard-page-nav-links{
  margin-top: 20px;
  color:#004589;
}

.agent-dashboard-page-nav-links a{
  text-decoration: none;
  color: #004589;
}

.agent-dashboard-page-nav-body{
  margin-top: 100px;
  overflow: auto;
}

/*my Properties page*/

.table{
  width: 90vw;
  border-collapse: collapse;
  border-width: 1px;
}

.property-properties img{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.property-properties span{
  color: #004589;
}

.property-properties{
  display: flex;
  justify-content: space-around;
  width: 150px;
}

.property-properties div{

  display: flex;
  justify-content: space-around;
  font-weight: normal;
  padding-top: 2px;
}

.table-head{
  text-align: left;
  background-color: #004589;
  color: aliceblue;
  border-style: none;
  border-width: 0;
  padding: 10px;
}

.table-row{
  padding-top: 25px;
  padding-bottom: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: #bbbbbb;
  cursor: pointer;
}

.table-row-link{
  text-decoration: none;
  text-emphasis: none;
  color: #004589;
}

tr{
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #bbbbbb;
  cursor: pointer;
}

.table-body :hover{
  background-color:lightsteelblue;
  
}

.table-body{
  border-style: none;
  font-weight: lighter;
  color: #004589;
}



/* New Properties Page */

.form-container{
  width: 60vw;
  margin-left: 20vw;
}

.location-search-input1{
  width: 55vw;
  font-size: large;
  padding: 10px;
  outline: #004589;
  border-radius: 5px;
  border-width: 1px;
  border-color: #004589;
  margin: 20px;
}

.location-search-input{
  width: 55vw;
  padding: 10px;
  border-style: solid;
  margin-bottom: 20px;
}
.autocomplete-dropdown-container{
  position: absolute;
  margin-top: -25px;
  padding: 10px;
  width: 55vw;
  margin-left: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.suggestion-item--active{
  background-color: #004589;
  color: aliceblue;
  cursor: pointer;
  font-size: large;
  padding: 5px;

}

.suggestion-item{
  background-color: white;
  cursor: pointer;
  font-size: large;
  padding: 5px;
}

.form-text-area textarea{
  width: 55vw;
  font-size: large;
  padding: 10px;
  outline: #004589;
  border-radius: 5px;
  border-width: 1px;
  border-color: #004589;
  margin: 20px;
}

.form-sub-section-heading{
  text-align: center;
}

.form-characteristics-container{
  display: flex;
  justify-content: space-around;
  
}

.form-characteristics{
  text-align: center;
}

.form-characteristics input{
  font-size: large;
  padding: 10px;
  outline: #004589;
  border-radius: 5px;
  border-width: 1px;
  border-color: #004589;
  margin: 20px;
}

.form-picker-cont{
  display: flex;
  justify-content: flex-start;
}

.form-picker input{
  font-size: large;
  padding: 10px;
  margin: 10px;
  width: 250px;
}
.form-picker-list{
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background-color: white;
}

.form-picker-item{
  background-color: white;
  cursor: pointer;
  font-size: large;
  padding: 10px;
  margin: 10px;
  width: 250px;
}

.form-picker-item :hover{
  background-color: #004589;
  color: aliceblue;
}

.form-picker-picked{
  background-color: lightskyblue;
  font-size: large;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.form-picker-picked-owner{
  background-color: lightseagreen;
  font-size: large;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.form-picker-picked img{
  margin-left: 10px;
  cursor: pointer;
}

.form-picker-picked-owner img{
  margin-left: 10px;
  cursor: pointer;
}

.form-picker-picked-container{
  display: flex;
  justify-content: space-around;
}

.form-radio-group{
  display: flex;
  justify-content: flex-start;
  margin: 10px;
  padding: 10px;
  font-size: large;
}

.form-radio-group-item1{
  box-sizing: border-box;
  display: inline-block;
  border-color: #004589;
  border-style: solid;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  padding: 2px;
  background-clip: content-box;
  border-radius: 50%;
}

.form-radio-group-item1-selected{
  box-sizing: border-box;
  border-color:#bbbbbb;
  background-color: #004589;
  border-style: solid;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  padding: 2px;
  background-clip: content-box;
  border-radius: 50%;
}

.form-radio-group-item2{
  box-sizing: border-box;
  display: inline-block;
  border-color: #004589;
  border-style: solid;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  padding: 2px;
  background-clip: content-box;
  border-radius: 50%;
}

.form-radio-group-item2-selected{
  box-sizing: border-box;
  display: inline-block;
  border-color: #bbbbbb;
  background-color: #004589;
  border-style: solid;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  padding: 2px;
  background-clip: content-box;
  border-radius: 50%;
}

.form-radio-group-cont{
  display: flex;
  margin-right: 100px;

}
.form-radio-group input{
  font-size: large;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #004589;
  border-radius: 5px;
  outline-color: #004589;

}

.form-photo-upload-cont{

}

.form-photo-upload-drop-window{
  border-style: solid;
  border-color: #004589;
}

.dropzone{
  border-style: dashed;
  text-align: center;
  cursor: pointer;
  margin: 10px;
}

/* Admin Signin and signup forms */

.admin-signin-form{
  text-align: center;
  margin: 100px;
  width: 40vw;
  margin-left: 30vw;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.admin-logo{
  width: 200px;
}

.admin-signup-form{
  text-align: center;
  margin: 100px;
  width: 40vw;
  margin-left: 30vw;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.admin-signup-form-loading{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 50vw;
  padding-top: 40vh;
  background-color: rgba(0, 69, 137,.3);
}

/*admin Dashboard*/

.admin-nav{
  position: fixed;
  width: 100vw;
  justify-content: space-between;
  background-color: #004589;
  display: flex;
  z-index: 2;
}
.admin-side-nav{
  position: fixed;
  height: 100vh;
  width: 100px;
  float: left;
  background-color: #004589;
  z-index: 1;
  padding-top: 70px;
  padding-left: 10px;
  padding-right: 10px;
}

.admin-side-nav-enter{
  position: fixed;
  height: 100vh;
  width: 300px;
  float: left;
  background-color: #004589;
  z-index: 1;
  padding-top: 70px;
  padding-left: 10px;
  padding-right: 10px;
}

.admin-nav-link{
  text-decoration: none;
  text-emphasis: none;
  color: aliceblue;
}

.admin-body{
  padding-top: 70px;
  padding-left: 120px;
  padding-right: 50px;
  position: relative;
}

.admin-inquiries{
  position: fixed;
  height: 50px;
  width: 200px;
  right: 5px;
  bottom: 0px;
  background-color: #004589;
  z-index: 1;
  border-style: solid;
}
.admin-inquiries-open{
  position: fixed;
  height: 400px;
  width: 200px;
  right: 5px;
  bottom: 0px;
  background-color: #004589;
  z-index: 1;
  border-style: solid;
}

/* Admin Side Nav Styling */

.admin-side-nav-menu-item{
  color: aliceblue;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 30px;
}

.admin-side-nav-menu-item-title{
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}
.admin-side-nav-menu-item-title-text{
  padding-top: 20px;
  padding-left: 10px;
}
.admin-side-nav-menu-item-title img{
  width: 50px;
  height: 50px;
}

.admin-side-nav-menu-item-menu{
  display: flex;
  justify-content: center;
}

.admin-side-nav-menu-item-menu ul{
  list-style-type:none;
  font-size: large;
  
}

.admin-side-nav-menu-item-menu ul :hover{
  font-weight: bold;
}
.admin-side-nav-menu-item-menu-li{
  padding: 10px;
  text-decoration: none;
  text-emphasis: none;
  color: aliceblue;

}

.admin-nav-menu{
  position: fixed;
  background-color: #004589;
  width: 200px;
  height: 100px;
  right: 10px;
  top: 50px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.admin-nav-menu-item{
  color: aliceblue;
  margin-left: 20px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.admin-nav-menu-item :hover{
  color: #004589;
  background-color: aliceblue;
}
.admin-nav-menu-item-link{
  text-emphasis: none;
  text-decoration: none;
  color: aliceblue;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
}
.admin-update-form{
  text-align: center;
  margin: 100px;
  width: 50vw;
  margin-left: 20vw;
  padding: 30px;
  border-radius: 10px;
}

/* admin summary page */
.admin-tile{
  width: 23%;
  height: 150px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  cursor: pointer;
}


.danger{
  background-color: #F78F8F;
}
.standard{
  background-color:burlywood;
}

.primary{
  background-color:cornflowerblue;
}

.success{
  background-color: seagreen;
}

.admin-summary-container{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}


.admin-tile-top{
  display: flex;
}

.admin-tile-top-item{
  width: 50%;
}

.admin-tile-top-item img{
  margin-left: 20px;
}

.admin-tile-bottom{
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  width: 70%;
  margin-top: 25px;
}

.admin-tile-bottom-item img{
  width: 10px;
  height: 10px;
  margin-left: 10px;
}

.admin-tile-bottom-item{
  color: aliceblue;
}

.admin-tile-top-item-number{
  color: aliceblue;
  text-align: center;
}

.admin-tile-top-item-text{
  color: aliceblue;
  text-align: center;
}
.admin-summary-chart1{
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  cursor: pointer;
}

.admin-summary-container-agent{
  width: 400px;
  text-align: center;
}

.admin-summary-container-agent img{
  width: 200px;
  border-radius: 50%;
}

.admin-summary-container-agent-text-head{
  text-align: center;
  color: aliceblue;
}

.admin-summary-container-agent-text-body{
  display: flex;
  justify-content: space-evenly;
}

/* Admin Agent Page */

.admin-agent-profile-cont{
  padding: 20px;
}

.Agents-page-header{
  padding: 20px;
  padding-bottom: 0;
  padding-top: 0;
}

.admin-agent-profile-tab-menu{
  position: fixed;
  width: 85vw;
  display: flex;
  background-color: #bbbbbb;
  padding: 10px;
  padding-bottom: 0;
  padding-left: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: .5px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  
}

.admin-agent-profile-tab-menu a{

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-bottom: 0;
  padding: 10px;
  text-emphasis: none;
  text-decoration: none;
  font-weight: bold;
  color: #3C475C;
}

.admin-agent-profile-tab-menu a.active{
  background-color: #fff;
}

.admin-agent-profile-info{
  margin-top: 60px;
  padding: 10px;
  display: flex;
}

.admin-agent-profile-info-photo-cont{
  padding-right: 10px;
}

.admin-agent-profile-info-photo-cont img{
  width: 20vw;
  height: 100%;
  border-style: solid;
  border-width: 5px;
  border-color: #bbbbbb;
}

.admin-agent-profile-info-name{
  width: 60vw;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #bbbbbb;
  padding-left: 10px;
}

.admin-agent-profile-info-more-info-cont{
  display: flex;
}
.admin-agent-profile-info-more-info{
  margin: 5px;
  padding: 10px;
  width: 18vw;
}

.border-left{
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #bbbbbb;
}

.border-right{
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #bbbbbb;
}

.admin-agent-profile-management{
  margin-top: 30px;
}

.admin-table{
  width: 40vw;
  border-collapse: collapse;
  border-width: 1px;
}

/*New property form */
.admin-new-form{
  margin-right: 20%;
  margin-left: 20%;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

}

.admin-form-address-bar{
  width: 90%;
  padding: 10px;
  margin: 20px;
}

.admin-form-address-dropdown{
  background-color: white;
  cursor: pointer;
  font-size: large;
  padding: 5px;
}

.admin-form-address-dropdown-active{
  background-color: #004589;
  color: aliceblue;
  cursor: pointer;
  font-size: large;
  padding: 5px;
}

.admin-form-address-dropdown-container{
  position: relative;
  margin-top: -25px;
  padding: 10px;
  width: 90%;
  margin-left: 20px;
}

.admin-form-text-area textarea{
  width: 90%;
  font-size: large;
  padding: 10px;
  outline: #004589;
  border-radius: 5px;
  border-width: 1px;
  border-color: #004589;
  margin: 20px;
}

.form-characteristics select{
  font-size: large;
  padding: 10px;
  outline: #004589;
  border-radius: 5px;
  border-width: 1px;
  border-color: #004589;
  margin: 20px;
}

.admin-form-submit{
  bottom: 0;
  background-color: #004589;
  color: aliceblue;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 20%;
  font-size: larger;
  padding: 20px;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
}
.admin-form-submit :hover {
  background-color: aliceblue;
  color: #004589;
  border-color: #004589;
  border-width: .5px;
}

/*admin properties page.. */

.properties-admin-view{
  border-style: solid;
  margin-bottom: 50px;
}

.properties-admin-view-desc{
  border-style: solid;
  margin-top: -30px;
  z-index: 5;
  display: flex;
  justify-content: center;
}

.properties-admin-view-desc-props{
  width: 50%;
  margin-right: 10px;
}

.properties-admin-view-image{
  width: 100%;
  height: 100%;
  z-index: -5;
}

.properties-admin-view-desc-agent{
  border-style: solid;
  width: 30%;
  background-color:#fff;
}

.properties-admin-view-desc-agent-title{
  background-color: #004589;
  padding: 10px;
  color: #fff;
  font-size: large;
  text-align: center;
  font-weight: bold;
}

.properties-admin-view-desc-props-1{
  display: flex;
}

.properties-admin-view-desc-props-1-item{
  border-style: solid;
  border-color: #bbbbbb;
  padding: 10px;
  background-color: #fff;
}

.properties-admin-view-desc-props-2-img{
  margin-top: 5px;
  width: 30px;
  height: 30px;
}
.properties-admin-view-desc-props-2{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-width: .5;
  border-bottom-color: #bbbbbb;
}
.properties-admin-view-desc-props-2-item{
  display: flex;
  justify-content: space-around;
  width: 80%;
  font-size: larger;
}

.properties-admin-view-desc-agent-items{
  text-align: center;
  padding: 20px;

}

.properties-admin-view-desc-agent-items button{
  text-align: center;
  padding: 10px;
  background-color: #004589;
  color: #fff;
  border-style: none;
  border-radius: 5px;
}